@charset "UTF-8";
nav,
h1,
h2,
h3,
h4,
p {
  margin: 10px; }

.slidein {
  animation-duration: 0.5s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

p {
  animation: 1s slidein; }

/* Definiendo un map.*/
.tarjetas, .tarjetas--dark {
  background-color: white;
  /*width: 20rem;*/
  overflow: hidden;
  margin: 0rem;
  box-shadow: 5px 5px 5px 5px #000;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  /* Usando la funcion mixins.*/ }
  .tarjetas.img, .img.tarjetas--dark {
    height: 15rem;
    background-size: cover;
    background-position: center center;
    max-width: 100%; }
  .tarjetas .tarjetas_content, .tarjetas--dark .tarjetas_content {
    padding: 2rem; }
  .tarjetas .tarjetas_title, .tarjetas--dark .tarjetas_title {
    /* Usando un map-get.*/
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    color: black; }
  .tarjetas .tarjetas_description, .tarjetas--dark .tarjetas_description {
    /* Usando un map-get.*/
    font-size: 16px;
    margin: 0;
    color: #999; }
  .tarjetas--dark {
    border-width: 3px;
    background-color: black; }
    .tarjetas--dark .tarjetas_title {
      color: white; }

/*Vista Movile*/
@media screen and (max-width: 767px) {
  .tarjetas, .tarjetas--dark {
    width: 15rem; } }

/*Vista Desktop*/
@media screen and (min-width: 768px) {
  .tarjetas, .tarjetas--dark {
    width: 20rem; } }

main {
  background-color: lavenderblush; }

/*Vista Movile*/
@media screen and (max-width: 767px) {
  /*Las siguientes configuraciones (img y .logo), hace que el logo se vea bien y no se valla de medida*/
  img {
    max-width: 100%;
    height: auto; }
  .logo {
    width: 50px; }
  /*Para la página de Libros*/
  .ContainerLibros {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "parrafo parrafo" "Libros Libros" "Libros Libros" "imagen imagen";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px; }
    .ContainerLibros div.parrafo {
      grid-area: parrafo; }
    .ContainerLibros div.texto {
      grid-area: texto; }
    .ContainerLibros .Libros {
      grid-area: Libros;
      display: grid;
      grid-template-columns: 2;
      grid-gap: 1rem; }
    .ContainerLibros .imagen {
      grid-area: imagen;
      display: none; } }

/*Vista Desktop*/
@media screen and (min-width: 768px) {
  /*Las siguientes configuraciones (img y .logo), hace que el logo se vea bien y no se valla de medida*/
  img {
    max-width: 100%;
    height: auto; }
  .logo {
    width: 50px; }
  /*Para la página de Libros*/
  .ContainerLibros {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "imagen parrafo parrafo" "imagen parrafo parrafo" "imagen parrafo parrafo" "Libros Libros Libros";
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    /*Las siguientes líneas son para el tamaño de los libros y tamaño de letra*/ }
    .ContainerLibros .imagen {
      grid-area: imagen;
      width: auto;
      height: auto;
      background-position: top center; }
    .ContainerLibros div.parrafo {
      grid-area: parrafo; }
    .ContainerLibros div.texto {
      grid-area: texto; }
    .ContainerLibros .Libros {
      grid-area: Libros;
      display: grid;
      grid-template-columns: 1;
      grid-gap: 1rem; }
    .ContainerLibros.icon {
      flex: 1 1 150px; }
    .ContainerLibros.icon img {
      max-width: 100%; } }
