* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Las siguientes configuraciones (img y .logo), hace que el logo se vea bien y no se valla de medida*/
img{
    max-width: 100%;
    height: auto;
    }
    
    .logo{
    width: 50px;   
    }

main{
    background-color:lavenderblush;
}

nav,h1,h2,h3,h4,p {
    margin: 10px;
    }

.ImagenPresentacion{
    animation: rebotar 0.5s alternate;
}

@keyframes rebotar {
    from{
        transform:scaleX(1.25)
    }
    to{
        transform:scaleX(1) translateX(-50px);
    }
        
}

.slidein {
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
     margin-left:0%;
     width:100%;
   }
  }

  p {
    animation: 1s  slidein;
  }



    