/*Vista Movile*/
@media screen and (max-width:767px) {

@font-face {
  font-family: "Philosopher-Regular";
  src: url("../fonts/Philosopher-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
background-color:gainsboro;
font-family: "Philosopher-Regular";
}


p {
font-size: 1.5rem;
}

/*Esta regla oculta la lista de items del menú en el tamaño de pantalla menor a 768px*/
.barra-navegacion .lista-menu {
  display: none;
}

/*El botón, en realidad, es la etiqueta (label) de una casilla de verificación (input tipo checkbox)*/
.boton-menu {
  box-sizing: border-box;
  display: block;
  color: #B9BEBA;
  /* vh equivale a 1% de la altura de la ventana gráfica 
  vw equivale a 1% de la anchura de la ventana gráfica*/
  margin: 1vh;
  height: 8vh;
  width: 8vh;
  border: 1px solid #B9BEBA;
  border-radius: 5px;
  line-height: 8vh;
  text-align: center;
  font-weight: bold;
  /*Esta declaración impide que el usuario pueda seleccionar el botón, sólo se puede hacer click en él*/
  user-select: none;
}

/*
Esta regla cambia el comportamiento del botón (checkbox) al estar clickeado, usando pseudoclases y selectores de hermanos generales.
El combinador ~ (virgulilla) separa dos selectores y selecciona el segundo elemento (en este caso, .boton-menu) sólo si está precedido por el primero (en este caso, input:checked) y ambos comparten un padre común (en este caso, .barra-navegacion).
*/

.barra-navegacion input:checked~.boton-menu {
  background: #B9BEBA;
  color: #1e2639;
  border-color: #1e2639;
}

.barra-navegacion input:checked~.lista-menu {
  display: block;
  position: fixed;
  top: 15vh;
  right: 0;
  background-color: #1e2639be;
  /*Acá el hexa tiene 4 pares de valores, el último corresponde al canal alpha*/
}

/*Escondemos el checkbox en sí, pero como mantenemos visible su etiqueta (el botón), se puede seguir usando*/
#check-menu {
  display: none;
}

.item-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid grey;
}

/*Esta regla agrega un efecto al item cuando pasamos el mouse por encima*/
.item-menu:hover {
  filter: brightness(120%);
}

.item-menu a {
  text-decoration: none;
  color: #B9BEBA;
}

/*Las siguientes configuraciones (img y .logo), hace que el logo se vea bien y no se valla de medida*/
img{
max-width: 100%;
height: auto;
}

.logo{
width: 50px;   
}

/*Container para index.html*/
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-areas: "header header"
  "header header"
  "parrafo parrafo"
  "texto texto"
  "articulos articulos"
  "imagen imagen"
  "footer footer" ;
  grid-template-columns:  50% 50%;
  grid-template-rows: auto auto auto auto auto auto 100px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
 /* background-color: rgba(199, 198, 198, 0.18);*/
  height: 100vh;
}

.border {
  border: 1px solid black;
}

.header{
  grid-area:header;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: rgba(153, 177, 19, 1);
  padding: 3px;
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  }
  
  .header nav ul {
    display: flex;
  /*     align-items: baseline; */
    list-style-type: none;
  }
  
  .header nav li {
    margin-right: 15px;
  }

.imagen{
  grid-area: imagen;
  display:none;
}


div.parrafo {
  grid-area: parrafo;
}

div.texto {
grid-area: texto;
}


.articulos{
grid-area: articulos;
display: grid;
/*grid-template-columns:80px;*/
grid-template-columns: repeat(2,1fr);
grid-gap: 1rem;
}

/*Las siguientes líneas son para el tamaño de los íconos de artículos y tamaño de letra*/
.articulos .icon {
  /*background-color:rgba(199, 198, 198, 0.18);*/
  flex: 1 1 150px;
}

.articulos .icon img {
max-width: 100%;
}

h2 {
font-size: 12x;
margin-bottom: 1rem;
color:black;
}

h3 {
font-size: 16px;
margin-bottom: 1rem;
color: black;
}

p {
font-size: 10px;
margin-bottom: .75rem;
}

/*Para la página de links*/
.ContainerLinks {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-areas: "header header"
  "header header"
  "parrafo parrafo"
  "texto texto"
  "Links Links"
  "imagen imagen"
  "footer footer" ;
  grid-template-columns:  50% 50%;
  grid-template-rows: auto auto auto auto auto auto 100px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
 /* background-color: rgba(199, 198, 198, 0.18);*/
  height: 100vh;
}

.Links{
  grid-area: Links;
  display: grid;
  /*grid-template-columns:80px;*/
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
  }

  /*Para la página de faq*/
  .ContainerFaq {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-areas: "header header"
  "header header"
  "parrafo parrafo"
  "texto texto"
  "faq faq"
  "faq faq"
  "imagen imagen"
  "footer footer" ;
  grid-template-columns:  50% 50%;
  grid-template-rows: auto auto auto auto auto auto auto 100px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  height: 100vh;
}

.faq{
  grid-area: faq;
  display: grid;
  grid-template-columns: 2;
  grid-gap: 1rem;
  }

   /*Para la página de Explorar*/
   .ContainerExplorer {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "header header"
    "parrafo parrafo"
    "Explorar Explorar"
    "imagen imagen"
    "footer footer" ;
    grid-template-columns:  50% 50%;
    grid-template-rows: 70px 100px auto auto 50px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100vh;
  }
  
  .Explorar{
    grid-area: Explorar;
    display: grid;
    grid-template-columns: 2;
    grid-gap: 1rem;
    }

    /*Para la página de Contacto*/
   .ContainerContacto {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "header header"
    "Contacto Contacto"
    "Contacto Contacto"
    "Contacto Contacto"
    "Contacto Contacto"
    "footer footer" ;
    grid-template-columns:  50% 50%;
    grid-template-rows: 70px auto auto auto auto 100px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100vh;
  }
  
  .Contacto{
    grid-area: Contacto;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 1rem;
    }

footer {
grid-area: footer;
display: flex;
color: #fff;
bottom: 0;
width:100%;
justify-content:flex-start;
padding: 3px;
height: 55px;
text-align: left;
background-color: rgba(153, 177, 19, 1);
}  

footer p {
color: #434344;
font-size: 12px;
padding: 10px;
}


/*Formulario de contacto*/
.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}

.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


}








/*Vista Desktop*/
@media screen and (min-width:768px) {

  @font-face {
    font-family: "Philosopher-Regular";
    src: url("../fonts/Philosopher-Regular.ttf");
  }
  

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  #check-menu {
    display: none;
  }
  
  body{
  background-color:gainsboro;
  font-family: "Philosopher-Regular";
  }
  
  
  p {
  font-size: 1.5rem;
  }
  
  .boton-menu {
    display: none;
}

.barra-navegacion .lista-menu {
    display: block;
    animation: rebotar .5s alternate;
}

.item-menu {
    list-style: none;
    display: inline-block;
    line-height: 8vh;
    margin: 0 0.5em;
    padding: 0 5px;
    border-bottom: 0px;
}
  
  /*Las siguientes configuraciones (img y .logo), hace que el logo se vea bien y no se valla de medida*/
  img{
  max-width: 100%;
  height: auto;
  }
  
  .logo{
  width: 50px;   
  animation: rebotar .5s alternate;
  }

/*Container para index.html*/
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "header header header"
    "imagen parrafo parrafo"
    "imagen parrafo parrafo"
    "texto texto texto"
    "articulos articulos articulos"
    "footer footer footer" ;
    grid-template-columns:  0.4fr 0.3fr 0.3fr;
    grid-template-rows: 100px auto auto 1fr 1fr 100px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
   /* background-color: rgba(199, 198, 198, 0.18);*/
    height: 100vh;
}



.header{
    grid-area:header;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: rgba(153, 177, 19, 1);
    padding: 3px;
    display: flex;
    justify-content:space-around;
    align-items:flex-end;
}

.header nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    }
    
    .header nav ul {
      display: flex;
    /*     align-items: baseline; */
      list-style-type: none;
    }
    
    .header nav li {
      margin-right: 15px;
    }

.imagen{
    grid-area: imagen;
    /*background-color: #d5c9e2;*/
    /*Lo siguiente es para que se vea bien la imagen*/
    /*min-height: 300px;*/
    width:  auto;
    height: auto;
    background-position: top center;
    animation: rebotar .5s alternate;
}

@keyframes rebotar {
  from{
    transform:scaleX(1.25)
  }
  to{
    transform:scaleX(1) translateY(-50px);
  }
  
}

div.parrafo {
    grid-area: parrafo;
    animation: rebotar .5s alternate;
}

div.texto {
  grid-area: texto;
  animation: rebotar .5s alternate;
}


  .articulos{
  grid-area: articulos;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  }

/*Las siguientes líneas son para el tamaño de los íconos de artículos y tamaño de letra*/
  .articulos .icon {
    /*background-color:rgba(199, 198, 198, 0.18);*/
    flex: 1 1 150px;
}

.articulos .icon img {
 max-width: 100%;
}

h2 {
  font-size: 32px;
  margin-bottom: 1rem;
  color:black;
}

h3 {
font-size: 48px;
margin-bottom: 1rem;
color: black;
}

p {
  font-size: 1rem;
  margin-bottom: .75rem;
}

/*Para la página de links*/
.ContainerLinks {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-areas: "header header header"
  "imagen parrafo parrafo"
  "imagen parrafo parrafo"
  "texto texto texto"
  "Links Links Links"
  "footer footer footer" ;
  grid-template-columns:  0.4fr 0.3fr 0.3fr;
  grid-template-rows: 100px auto auto 1fr 1fr 100px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
 /* background-color: rgba(199, 198, 198, 0.18);*/
  height: 100vh;
}

.Links{
  grid-area: Links;
  display: grid;
  /*grid-template-columns:80px;*/
  grid-template-columns: 1;
  grid-gap: 1rem;
  }

  /*Para la página de faq*/
.ContainerFaq {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-areas: "header header header"
  "imagen parrafo parrafo"
  "imagen parrafo parrafo"
  "texto texto texto"
  "faq faq faq"
  "footer footer footer" ;
  grid-template-columns:  0.4fr 0.3fr 0.3fr;
  grid-template-rows: 100px auto auto 1fr auto 100px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
 /* background-color: rgba(199, 198, 198, 0.18);*/
  height: 100vh;
}

.faq{
  grid-area: faq;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 1rem;
  }

  /*Para la página de Explorar*/
  .ContainerExplorer {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "header header header"
    "imagen parrafo parrafo"
    "imagen Explorar Explorar"
    "footer footer footer" ;
    grid-template-columns:  0.4fr 0.3fr 0.3fr;
    grid-template-rows: 100px auto auto 100px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100vh;
  }
  
  .Explorar{
    grid-area: Explorar;
    display: grid;
    grid-template-columns: 2;
    grid-gap: 1rem;
    }

    /*Para la página de Contacto*/
   .ContainerContacto {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "header header header"
    "Contacto Contacto Contacto"
    "Contacto Contacto Contacto"
    "Contacto Contacto Contacto"
    "Contacto Contacto Contacto"
    "footer footer footer" ;
    grid-template-columns:  0.4fr 0.3fr 0.3fr;
    grid-template-rows: 100px auto auto auto auto 100px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100vh;
  }
  
  .Contacto{
    grid-area: Contacto;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 1rem;
    }

footer {
  grid-area: footer;
  display: flex;
  color: #fff;
  bottom: 0;
  width:100%;
  justify-content: space-around;
  padding: 3px;
  height: 55px;
  text-align: left;
  background-color: rgba(153, 177, 19, 1);
}  

footer p {
  color: #434344;
  font-size: 12px;
  padding: 10px;
}

/*Formulario de contacto*/
.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}

.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


}