/* Definiendo un map.*/
$font: (color:white, family:("Times New Roman", Times, serif), size: 16px, );


.tarjetas {
    background-color: map-get($font, color);
    /*width: 20rem;*/
    overflow: hidden;
    margin: 0rem;
    box-shadow: 5px 5px 5px 5px #000;
    @include border-radius(1rem);
    /* Usando la funcion mixins.*/

    &.img {
        height: 15rem;
        background-size: cover;
        background-position: center center;
        max-width: 100%;
    }

    .tarjetas_content {
        padding: $spacing;
    }

    .tarjetas_title {
        /* Usando un map-get.*/
        font-family: map-get($font, family);
        margin: 0;
        color: black;
    }

    .tarjetas_description {
        /* Usando un map-get.*/
        font-size: map-get($font, size);
        margin: 0;
        color: $dark-grey;
    }

    &--dark {
        @extend .tarjetas;
        border-width: 3px;
        background-color: black;

        .tarjetas_title {
            color: white;
        }
    }
}

/*Vista Movile*/
@media screen and (max-width:767px) {
    .tarjetas {
        width: 15rem;
    }

}

/*Vista Desktop*/
@media screen and (min-width:768px) {
    .tarjetas {
        width: 20rem;
    }
}