@import 'variables';
@import 'texto';
@import 'mixins';
@import 'tarjetas';

main {
  background-color: $primary-color;
}


/*Vista Movile*/
@media screen and (max-width:767px) {

  /*Las siguientes configuraciones (img y .logo), hace que el logo se vea bien y no se valla de medida*/
  img {
    max-width: 100%;
    height: auto;
  }

  .logo {
    width: 50px;
  }


  /*Para la página de Libros*/
  .container-libros {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "parrafo"
      "tarjetas1"
      "tarjetas2"
      "tarjetas3";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;

    div.parrafo {
      grid-area: parrafo;
    }

    div.texto {
      grid-area: texto;
    }

    div#1.tajetas {
      grid-area: tarjetas1;
      display: grid;
      grid-gap: 1rem;
    }

    div#2.tajetas {
      grid-area: tarjetas2;
      display: grid;
      grid-gap: 1rem;
    }

    div#3.tajetas {
      grid-area: tarjetas3;
      display: grid;
      grid-gap: 1rem;
    }

    div.imagen {
      grid-area: imagen;
      display: none;
    }
  }

}

/*Vista Desktop*/
@media screen and (min-width:768px) {


  /*Las siguientes configuraciones (img y .logo), hace que el logo se vea bien y no se valla de medida*/
  img {
    max-width: 100%;
    height: auto;
  }

  .logo {
    width: 50px;
  }

  /*Para la página de Libros*/
  .container-libros {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "imagen parrafo parrafo"
      "tarjetas1 tarjetas2 tarjetas3"
      "tarjetas1 tarjetas2 tarjetas3"
      "tarjetas1 tarjetas2 tarjetas3";
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

    div.imagen {
      grid-area: imagen;
      width: auto;
      height: auto;
      background-position: top center;
    }

    div.parrafo {
      grid-area: parrafo;
    }

    div#1.tarjetas {
      grid-area: tarjetas1;
      display: grid;
      grid-gap: 1rem;
    }

    div#2.tarjetas {
      grid-area: tarjetas2;
      display: grid;
      grid-gap: 1rem;
    }

    div#3.tarjetas {
      grid-area: tarjetas3;
      display: grid;
      grid-gap: 1rem;
    }

    /*Las siguientes líneas son para el tamaño de los libros y tamaño de letra*/
    &.icon {
      flex: 1 1 150px;
    }

    &.icon img {
      max-width: 100%;
    }

  }
}